
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/reverser/flip">flip</a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="<%= title %>" method="get">
      <input type="text" name="word1" /> <%= symbol %> 
      <input type="text" name="word2" />
      <br>
      <button type="submit">submit</button>
    </form>
    <%if (result || (typeof result === 'number' && !isNaN(result))) { %>
      <%= word1 %> <%= word2 %> becomes <%= result %>
    <% } %>


  </body>
</html>